.contain {
  border: solid #333;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contBtn .active {
  border-bottom: solid black;
}
.onglets {
  width: 33%;
  padding: 1em;
  background: #555555;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: solid #333;
}
.container {
  width: auto;
  text-align: center;
}
.cont {
  margin-top: 1em;
}

.active {
  background: rgb(248, 248, 248);
  color: #333;
  box-shadow: 5px 3px 7px;
}
