.containerSlide {
  width: 40em;
  margin: auto;
  border: solid black;
  border-radius: 1em;
  margin-bottom: 1em;
}
.active {
}
.each-slide {
  width: 25em;
  margin: auto;
}
.containerSlide img {
  width: 25em;
}

.slideshow,
.slideshowMedium,
.slideshowSmall {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
