.App {
  font-family: sans-serif;
  text-align: center;
/* font-family: 'Niconne', cursive;*/
  font-family: 'Bad Script', cursive;
}
.titleState{
  font-size: 3vh;
}

.contain {
  border: solid #333;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 1em;
}
.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.onglets {
  
  background-color: #f4f5f6;
  background-image: linear-gradient(315deg, #f4f5f6 0%, #9b4dca 74%);;
  background-size: contain;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 1px #333;
}
.container {
  width: auto;
  text-align: center;
}
.cont {
  margin-top: 3em;
}

.active {

  color: #333;
  box-shadow: 5px 3px 7px;
}


/*Panel hover*/
.buttonLeft.active, .buttonCenter.active {
  transform: perspective(1500px) translateZ(100px) translateX(10px)
    translateY(10px);
  -webkit-box-shadow: 25px 14px 29px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 25px 14px 29px 0px rgba(0, 0, 0, 0.35);
}

.buttonRight.active {
  transform: perspective(1500px) translateZ(100px) translateX(-10px)
    translateY(10px);
  -webkit-box-shadow: 25px 14px 29px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 25px 14px 29px 0px rgba(0, 0, 0, 0.35);
}

